.App {
    text-align: center;
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome .texto {
    margin-top: 0;
    color: purple;
}

.welcome .botao {
    padding: 20px;
    border: 3px solid purple;
    border-radius: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: violet;
    background-color: black;
}

.formUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formUser .userName {
    border: 1px solid purple;
    padding: 5px;
    margin: 5px;
    color: black;
    background-color: violet;
    border-radius: 10px;
}

.formUser .login {
    padding: 15px;
    border: 3px solid purple;
    border-radius: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: violet;
    background-color: black;
    margin: 3px;
}